body {
    font-family:"Roboto", "Raleway", sans-serif;
    color:#434455;
}

header{
    background-color: #FFFFFF;
}

header a:not(.logo):hover,
header a:not(.logo):focus {
    opacity: 0.8;
    color: #31d0aa;
    transition: color 0.2s;
}

header a:not(.logo):active{
    color: #e7e9fc;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #5D3FD3;
    text-decoration: none;
}

.logo span:nth-child(2){
    color: #2e2f42;
}

.nav-list{
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list a {
    text-decoration:  none;
    color:  #2e2f42;;
}

.contacts-header{
    list-style: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-header a{
    text-decoration: none;
    color: #434455;
}

.solutions-for-business{
    background-color: #2e2f42;
}

.title-solutions{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.order {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;

    /* Size & spacing */
    width: 177px;
    height: 58px;
    padding-block: 16px;
    padding-inline: 32px;
    border-radius: 4px;

    /* Visual */
    background: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;

    /* Typography */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}