body {
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    background-color: #FFFFFF;
}

header{
    background-color: #FFFFFF;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo span{
    color: #2e2f42;
}

.nav-list{
    list-style: none;
    font-weight: 500;
}

.list-item a{
    text-decoration:  none;
    color:  #2e2f42;
}

.list-item a:hover,
.list-item a:focus{
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address ul{
    list-style: none;
}

.list-address a{
    text-decoration: none;
    color: #434455;
}

.list-address a:hover,
.list-address a:focus{
    color: #404bbf;
}

.title-solutions{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.solutions-for-business{
    background-color: #2e2f42;
}

.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    color: #2e2f42;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.section-list-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

.benefits-item{
    background-color: #FFFFFF;
}

.our-team-item{
    background-color: #FFFFFF;
}

.order {
    /* Visual */
    background-color: #4d5ae5;
    cursor: pointer;

    /* Typography */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.order:hover,
.order:focus {
    background-color: #404BBF;
}

.benefits-title{
    text-align: center;
}

.benefits .benefits-list {
    list-style: none;
}

.studio {
    background-color: #f4f4fd;
}

.our-team-list{
    list-style: none;
    text-align: center;
}

.our-portfolio-list{
    list-style: none;
    text-align: center;
}

#footer {
    background-color:  #2e2f42;
}

#footer p{
    color: #f4f4fd;
}

#footer .logo span{
    color: #f4f4fd;
}
