body {
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    background-color: #FFFFFF;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    text-align: center;
}

header{
    background-color: #FFFFFF;
}

header a:not(.logo):hover,
header a:not(.logo):focus {
    opacity: 0.8;
    color: #404bbf;
    transition: color 0.2s;
}

header a:not(.logo):active{
    color: #4D5AE5;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo span{
    color: #2e2f42;
}

.nav-list{
    list-style: none;
    font-weight: 500;
}

.nav-list a {
    text-decoration:  none;
    color:  #2e2f42;
}

.contacts-header{
    font-style: normal;
    list-style: none;
    font-size: 16px;
}
.contacts-header a{
    text-decoration: none;
    color: inherit;
}

.solutions-for-business{
    background-color: #2e2f42;
}

.title-solutions{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
}

.order {
    /* Visual */
    background: #4d5ae5;
    cursor: pointer;

    /* Typography */
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.order:hover,
.order:focus {
    background-color: #404BBF;
}

.benefits-title{
    text-align: center;
}

.benefits .benefits-list {
    list-style: none;
}

.studio {
    background-color: #f4f4fd;
}

.our-team-list{
    list-style: none;
    text-align: center;
}

.our-portfolio-list{
    list-style: none;
    text-align: center;
}

#footer {
    background-color:  #2e2f42;
}

#footer p{
    color: #f4f4fd;
}

#footer .logo span{
    color: #f4f4fd;
}
